body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Assistant";
}

canvas {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* z-index: -1; */
}

button {
  all: inherit;
  font-weight: 600;
  display: inline;
  margin: 5px;
  border-radius: 6px;
  font-size: 15px;
  padding: 4px 6px;
  background-color: #c65cfb;
}

input[type="text"] {
  all: inherit;
  display: inline;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: #54455b;
}
